<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo-{{ item.id }}" tabindex="-1"
	aria-labelledby="MoreInfo-{{ item.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel-{{ item.id }}">
					{{ item.name }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ item.description }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Purchase Confirm -->
<div class="modal fade" id="Modal-PurchaseConfirm-{{ item.id }}"
	tabindex="-1" aria-labelledby="PurchaseConfirm-{{ item.id }}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="ModalLabel--{{ item.id}}">
					{{ item.name }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form method="post">
					{{ purchase_form.hidden_tag() }}
					<p class="text-center">
						Are you sure you want to buy {{ item.name }} for $ {{ item.price }}?
					</p>
					<p class="small text-center">
						By clicking Purchase, you will purchase this item.
					</p>
					<input id="purchased_item" name="purchased_item" type="hidden" value="{{ item.name }}">
					<div class="d-grid">
						{{ purchase_form.submit(class="btn btn-outline-success") }}
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>